* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: bordex-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    flex-direction: column;
    background: #050801;
    height: 500px;
    width: 300px;
}
/* ================= SEARCH BAR ================= */
@import url('https://fonts.googleapis.com/css?family=Popins:200,300,400,500,600,700,800,900&display=swap');

.bar{
    display: flex;
    position: 10px;
    width: 250px;
    height: 50px;

}
.search{
    position: relative;
    display: flex;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    transition: 0.5s;
    box-shadow: 0 0 0 5px #03e9f4;
    overflow: hidden;
}

.search.active{
    width: 300px;
}

.search .icon{
    position: absolute;
    top:0;
    left: 0;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    transform: translate(2px, 2px);
}

.search .icon::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1.5px solid #07c6d0;
    border-radius: 50%;
    transform: translate(-1px, -1px);
}

.search .icon::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 7px;
    background: #07c6d0;
    transform: translate(6px, 6px) rotate(315deg);
}

.search .input{
    position: relative;
  
    width: 250px;
    height: 10px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input{
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px 0;
}
.clear{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width: 15px;
    height:15px;
    right:15px;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #fff;
}
.clear::before{
    position:absolute;
    content:'';
    width: 1px;
    height: 15px;
    background: #000000;
    transform: rotate(45deg);
}
.clear::after{
    position:absolute;
    content:'';
    width: 1px;
    height: 15px;
    background: #000000;
    transform: rotate(315deg);
}


/* ================= MENU ================= */

/* MENU */
a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0,5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

a span {
    position: absolute;
    display: block;
}

a span:nth-child(1)
{
    top: 0;
    left: -100;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}

@keyframes animate1
{
    0%
    {
        left: -100%;
    }
    50%,100%
    {
        left: 100%
    }
}

a span:nth-child(2)
{
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0,25s;
}

@keyframes animate2
{
    0%
    {
        top: -100%;
    }
    50%,100%
    {
        top: 100%
    }
}

a span:nth-child(3)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0,5s;
}

@keyframes animate3
{
    0%
    {
        right: -100%;
    }
    50%,100%
    {
        right: 100%;
    }
}

a span:nth-child(4)
{
    bottom: 100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0,7   5s;
}

@keyframes animate4
{
    0%
    {
        bottom: -100%;
    }
    50%,100%
    {
        bottom: 100%;
    }
}


